<%= form_for(project, html: { class: "col s12" }) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s8">
      <%= f.text_field :name %>
      <%= f.label :name, class: "#{'active' if project.name.present?}" %>
    </div>

    <div class="col s4">
      <p>
        <%= f.color_field :colour %>
        <%= f.label :colour %>
      </p>
    </div>
  </div>

  <div class="row">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
