<%= form_for(time_entry) do |f| %>
  <% if time_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_entry.errors.count, "error") %> prohibited this time_entry from being saved:</h2>

      <ul>
      <% time_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.collection_select(:project_id, Project.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :begin_at %>
    <%= f.datetime_select :begin_at %>
  </div>

  <div class="field">
    <%= f.label :end_at %>
    <%= f.datetime_select :end_at %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
